#!/bin/sh
# Coyote Traffic Control configuration file
# Author: Dolly <dolly@czi.cz>

QOS_DOWNSTREAM=1024
QOS_UPSTREAM=256

QOS_HIGH_PRI_PER=50
QOS_NORM_PRI_PER=35
QOS_SLOW_PRI_PER=15

QOS_FUP_BURST=8
QOS_NUP_BURST=4
QOS_SUP_BURST=2
QOS_FDOWN_BURST=16
QOS_NDOWN_BURST=8
QOS_SDOWN_BURST=4

QOS_UPFW_STREAM=10

QOS_UPSTREAM_INDIVIDUAL=25
QOS_DOWNSTREAM_INDIVIDUAL=25

QOS_UPSTREAM_JUNK=5
QOS_DOWNSTREAM_JUNK=5

# counts bandwidth percentage, awoids zero results.
percentage () {
    res=$((${1}*${2}/100))
    if [ $res -eq 0 ]; then
 	res=1
    fi
    echo $res
}

build_class_chain () {
#Use the new qos.classes configuration file
. /etc/coyote/qos.classes

}
